td button{width:100%; height: 100%;font-size: 30px;}
#output {
    width: 100%;
    height: 100%;
    font-size: 30px;
    border-radius: 2rem;
}

table {
    background-color: rgb(71, 215, 170);
    border-radius: 2rem;
}

